:root {
  --main-background: #f7f7f7;
  --gren4: #0c797a;
  --slider-background: #d6ecec;
  --black: #131313;
  --black2: #333;
  --black-duplicate: #333;

  transition:
    --main-background 0.5s ease,
    --gren4 0.5s ease,
    --slider-background 0.5s ease,
    --black 0.5s ease,
    --black2 0.5s ease,
    --black-duplicate 0.5s ease;
}
